/*基础类样式*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin:0; padding:0; }
body { font-size:12px; color:#666; font-family: Microsoft YaHei,SimSun;}
em { font-style:normal; }
fieldset, img { border:0; }
ol, ul ,li { list-style:none; }
input, button, select, textarea { outline:none; }
a {text-decoration:none;color: #000;}
a:visited{color:#000;}
.fl{float: left!important;}
.fr{float: right!important;}
i{display: inline-block;}
.clearfix::after,
.clearfix::before{
	clear: both;
	display: block;
	height: 0;
	content: "";
}
/*基础类样式*/

/*头部开始*/
.top{
    width: 100%;
    height:122px;
    background: #90B722;
}
.top .top_m{
    margin: 0 auto;
    width: 1200px;
}
.top .top_logo{
    float: left;
    display: inline-block;
}
.top .top_logo a{

}
.top .top_logo img{
    height: 122px;
}
.top .top_title{
    float: left;
    width: 200px;
    height: 122px;
    background: url("../img/top_title.jpg");
}
.top .top_tel{
    float: right;
    width: 300px;
    height: 122px;
    background: url("../img/top_tel.jpg");
}
/*头部结束*/
/*导航栏开始*/
.nav{
    width: 100%;
    height: 36px;
    background: #006B39;
    line-height: 36px;
}
.nav .nav_m{
    width: 1200px;
    margin: 0 auto;
    height: 36px;
    position: relative;
}
.nav .nav_m .side_nav{
    width: 1000px;
    left:700px;
    margin-left: -500px;
    position: absolute;
    display: inline-block;
}
.nav .nav_m .nav_item{
    background-image: url("../img/nav_item.png");
    background-repeat: no-repeat;
    float: left;
    width: 109px;
    height: 36px;
    line-height: 36px;
    margin: 0 2px;
    text-align: center;
    position: relative;
    z-index: 9999;
}
/*nav_item背景*/
.n1{background-position:0 0;}
.n2{background-position:0 -36px;}
.n3{background-position:0 -72px;}
.n4{background-position:0 -144px;}
.n5{background-position:0 -180px;}
.n6{background-position:0 -216px;}
.n7{background-position:0 -252px;}
/*nav_item背景结束*/
.nav .nav_m a{
    color: #eeeeee;
    font-weight: 600;
    font-size: 15px;
}

/*下拉列表样式*/
#sub_02 a{display: block;border-top: 1px solid #eee;background: #112437;}
#sub_03 a{display: block;border-top: 1px solid #eee;background: #2B4E9E;}
#sub_04 a{display: block;border-top: 1px solid #eee;background: #2B6A2F;}
#sub_06 a{display: block;border-top: 1px solid #eee;background: #F08D1B;}
#sub_02 a:hover{background:#386AA0 }
#sub_03 a:hover{background:#609FCA }
#sub_04 a:hover{background:#62AE6C }
#sub_06 a:hover{background:#F6C244 }

/*下拉列表样式结束*/
/*导航栏结束*/


/*第一个轮播图start*/
.all {
	width: 100%;
	height: 400px;
	position: relative;
}

.screen {
	width: 100%;
	height: 400px;
	overflow:hidden;
	position: relative;
}

.screen ul {
	position: absolute;
	left: 0;
	top: 0px;
	width: 4800px;
}

.screen li {
	width: 1584px;
	height: 400px;
	overflow:hidden;
	float: left;
}

.all ol {
	position: absolute;
	left: 800px;
	bottom: 10px;
	line-height: 20px;
	text-align: center;
}

.all ol li {
	float: left;
	width: 20px;
	height: 20px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	margin-left: 10px;
	cursor: pointer;
}

.all ol li.current {
	background: #006B39;
	border: 1px solid #006B39;
}

#arr {
	display: none;
}

#arr span {
	width: 30px;
	height: 30px;
	position: absolute;
	left: 5px;
	top: 50%;
	margin-top: -20px;
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	font-family: '黑体';
	font-size: 30px;
	color: #ccc;
	opacity: 0.3;
}

#arr #right {
	right: 5px;
	left: auto;
}
/*第一个轮播图end*/

/*第二个轮播图start*/
#box2 {
	width: 100%;
	height: 279px;
	background: #fff;
	position: relative;
	margin: 30px auto;
}


/*li:200px*/


/*图片的样式*/

#box2 #imglist {
	width: 1016px;
	height: 279px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

#box2 #imglist ul {
	width: 4000px;
	height: 279px;
	position: absolute;
	left: 0;
	top: 0;
}

#box2 #imglist li {
	width: 238px;
	height: 279px;
	float: left;
	margin: 0 8px;
	border-radius: 10px;
	overflow: hidden;
}

#box2 #imglist li .pic {
	height: 179px;
}

#box2 #imglist li .pic_title {
	height: 100px;
	background: #90B622;
}

#box2 #imglist li .pic_title p {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
}

#box2 #imglist li a {
	display: block;
}

#box2 #imglist li a img {
	width: 238px;
	height: 179px;
	display: block;
}

#box2 #imglist li .pic_title .morebtn {
	width: 57px;
	height: 15px;
	display: block;
	background: url(../img/press_more.png) no-repeat center;
	margin: 24px 0 0px 170px;
}


/*焦点的样式*/

#light {
	width: 800px;
	height: 20px;
	/*background: #ccc;*/
	position: absolute;
	left: 0;
	bottom: 10px;
	text-align: center;
}

#light span {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #D8D8D8;
	text-align: center;
	line-height: 20px;
	margin: 0 5px;
	cursor: pointer;
}

#light span.active {
	background: orange;
}


/*左右按钮*/

#posibtn {
	width: 1070px;
	height: 50px;
	/*background: #ccc;*/
	position: absolute;
	left: 251px;
	top: 100px;
}

#posibtn p {
	width: 40px;
	height: 40px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

#posibtn p:nth-child(1) {
	float: left;
	margin-left: 10px;
}

#posibtn p:nth-child(2) {
	float: right;
	margin-right: 10px;
}

/*第二个轮播图end*/
/*给孩子一个快乐的童年start*/
.zhh{
	background: url(../img/zhh.jpg) no-repeat center;
	width: 100%;
	height: 78px;
}
.zhh .kuaile{
	line-height: 78px;
    color: #FFF;
    font-size: 26px;
    font-weight: bold;
    text-indent: -9999px;
}
.mp{
	margin: 0 auto;
    width: 1000px;
}
/*给孩子一个快乐的童年end*/


/*主要内容start*/
.todong{
	background: #183F3C;
    height: 790px;
    width: 100%;
}
.todong .dong {
    position: relative;
    height: 445px;
}
.atu1 {
    width: 366px;
    height: 180px;
}
.ab {
    position: absolute;
    left: 0px;
    top: 15px;
}
.atu1 img, .atu2 img {
    width: 366px;
    height: 180px;
}
.j4{
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.atu2 {
    width: 366px;
    height: 180px;
    left: 381px;
}
.atu4 {
    width: 366px;
    height: 250px;
    top: 195px;
    background: #90B722;
    color: #FFF;
}
.j5{
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.atu4 h3, .atu5 h3 {
    font-size: 20px;
    line-height: 36px;
    text-indent: 2em;
    margin-top: 18px;
    padding-left: 7px;
}
.atu4 p, .atu5 p {
    font-size: 16px;
    line-height: 24px;
    padding: 3px 15px;
    text-indent: 2em;
}
.tets {
    margin: 8px 45px;
}
.tets li {
    font-size: 16px;
    width: 138px;
    line-height: 28px;
    float: left;
    text-align: center;
}
.atu4 a, .atu5 a {
    color: #FFF;
}
.atu4 a:hover{
	text-decoration: underline;
}
.atu5 a:hover{
	text-decoration: underline;
}
.atu5 {
    width: 366px;
    height: 250px;
    left: 381px;
    top: 195px;
    background: #1A4FA1;
    color: #FFF;
}
.atu3 {
    width: 238px;
    height: 430px;
    left: 762px;
}
.kb_yi {
    background-color: #90B622;
    width: 238px;
    height: 53px;
    padding: 9px 0px;
    text-align: center;
}
.j3 {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.sign {
    height: 329px;
    padding-left: 18px;
    background: #f9ca3b;
    padding-top: 12px;
    padding-bottom: 3px;
    text-align: left;
    color: #464646;
    position: relative;
    margin: 15px 0px 0px 0px;
}
#bform input {
    color: #666;
    background: none;
    border: none;
    width: 192px;
    height: 22px;
    line-height: 22px;
    padding-left: 4px;
    font-size: 12px;
}
.input_bg0 {
    background: url(../img/input_03.gif) no-repeat;
    width: 202px;
    height: 22px;
    margin-bottom: 8px;
    position: relative;
}
.input_bg1 {
    background: url(../img/input_06.gif) no-repeat;
    width: 134px;
    height: 22px;
    margin-bottom: 10px;
    margin-right: 8px;
}
.btn_ques {
    position: absolute;
    top: 3px;
    right: 3px;
    background: url(../img/sign_q.gif) no-repeat;
    width: 17px;
    height: 17px;
}
.sign select {
    background: none;
    border: none;
    width: 202px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
}
.input_bg1 select {
    width: 134px;
    height: 22px;
}
.hover01 {
    background: url(../img/ico_01.gif) left center no-repeat;
    padding-left: 24px;
    display: block;
    font-size: 12px;
    line-height: 20px;
    padding-right: 15px;
    letter-spacing: 1px;
    padding-bottom: 0px;
    cursor: pointer;
}
.ttg {
    padding-right: 20px;
    text-indent: 2em;
    line-height: 20px;
    padding-top: 3px;
}
.btn_submit {
    background: url(../img/btn_submit_cn.gif) left 48.5% no-repeat;
    width: 132px;
    height: 33px;
    margin: 3px 0 0 33px;
    display: block;
    cursor: pointer;
}
.todong .dong0 {
    position: relative;
    height: 325px;
}
.dong0 a {
    color: #fff;
}
.atu11 {
    width: 366px;
    height: 250px;
}
.atu11 img, .atu22 img {
    width: 366px;
    height: 250px;
}
.atu22 {
    width: 366px;
    height: 250px;
    left: 381px;
}
.atu44 {
    width: 366px;
    height: 60px;
    top: 265px;
    background: #006B39;
}
.atu55 {
    width: 366px;
    height: 60px;
    left: 381px;
    top: 265px;
    background: #EF8121;
}
.atu44 h3, .atu55 h3 {
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    font-weight: 700;
}
.atu33 {
    width: 238px;
    height: 250px;
    left: 762px;
}
.quan {
    width: 238px;
    height: 60px;
    background: #5191C3;
    line-height: 60px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    left: 762px;
    top: 265px;
}
/*主要内容end*/

/*主要内容底部start*/
.leyuan {
    background: url(../img/man11.jpg);
    width: 100%;
    height: 150px;
}
/*主要内容底部end*/

/*底部start*/
.footer{width: 100%;height: 150px;background: #006B39;margin-top:20px;}
.footer_m{width: 1200px;margin: 0 auto;}
.footer_m ul{display: inline-block;position:relative;left:50%;margin-left:-332px;margin-top:20px;}
.footer_m li{float: left;margin:0 5px;border-right:1px solid #eee;padding:0 5px;box-sizing: border-box;}
.footer_m li a{color:#eee;display: block;padding:0 5px;font-size:16px;}
.footer_m p{margin-top:8px;color:#eee;font-size: 15px;text-align: center;}
/*底部end*/