/*基础类样式*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin:0; padding:0; }
body { font-size:12px; color:#666; font-family: Microsoft YaHei,SimSun;}
em { font-style:normal; }
fieldset, img { border:0; }
ol, ul { list-style:none; }
input, button, select, textarea { outline:none; }
a {text-decoration:none;color: #000;}
a:visited{color:#000;}
.fl{float: left!important;}
.fr{float: right!important;}
i{display: inline-block;}
.clearfix:after,.clearfix:before{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/*基础类样式*/


/*头部开始*/
.top{
    width: 100%;
    height:122px;
    background: #90B722;
}
.top .top_m{
    margin: 0 auto;
    width: 1200px;
}
.top .top_logo{
    float: left;
    display: inline-block;
}
.top .top_logo a{

}
.top .top_logo img{
    height: 122px;
}
.top .top_title{
    float: left;
    width: 200px;
    height: 122px;
    background: url("../images/top_title.jpg");
}
.top .top_tel{
    float: right;
    width: 300px;
    height: 122px;
    background: url("../images/top_tel.jpg");
}
/*头部结束*/
/*导航栏开始*/
.nav{
    width: 100%;
    height: 36px;
    background: #006B39;
    line-height: 36px;
}
.nav .nav_m{
    width: 1200px;
    margin: 0 auto;
    height: 36px;
    position: relative;
}
.nav .nav_m .side_nav{
    width: 1000px;
    left:700px;
    margin-left: -500px;
    position: absolute;
    display: inline-block;
}
.nav .nav_m .nav_item{
    background-image: url("../images/nav_item.png");
    background-repeat: no-repeat;
    float: left;
    width: 109px;
    height: 36px;
    line-height: 36px;
    margin: 0 2px;
    text-align: center;
    position: relative;
    z-index: 9999;
}
/*nav_item背景*/
.n1{background-position:0 0;}
.n2{background-position:0 -36px;}
.n3{background-position:0 -72px;}
.n4{background-position:0 -144px;}
.n5{background-position:0 -180px;}
.n6{background-position:0 -216px;}
.n7{background-position:0 -252px;}
/*nav_item背景结束*/
.nav .nav_m a{
    color: #eeeeee;
    font-weight: 600;
    font-size: 15px;
}

/*下拉列表样式*/
#sub_02 a{display: block;border-top: 1px solid #eee;background: #112437;}
#sub_03 a{display: block;border-top: 1px solid #eee;background: #2B4E9E;}
#sub_04 a{display: block;border-top: 1px solid #eee;background: #2B6A2F;}
#sub_06 a{display: block;border-top: 1px solid #eee;background: #F08D1B;}
#sub_02 a:hover{background:#386AA0 }
#sub_03 a:hover{background:#609FCA }
#sub_04 a:hover{background:#62AE6C }
#sub_06 a:hover{background:#F6C244 }

/*下拉列表样式结束*/
/*导航栏结束*/
/*底部开始*/
.footer{width: 100%;height: 150px;background: #006B39;margin-top:20px;}
.footer_m{width: 1200px;margin: 0 auto;}
.footer_m ul{display: inline-block;position:relative;left:50%;margin-left:-332px;margin-top:20px;}
.footer_m li{float: left;margin:0 5px;border-right:1px solid #eee;padding:0 5px;box-sizing: border-box;}
.footer_m li a{color:#eee;display: block;padding:0 5px;font-size:16px;}
.footer_m p{margin-top:8px;color:#eee;font-size: 15px;text-align: center;}
/*底部结束*/
